body{
    
    color: #25dc25;
    margin: 0;
    background-color: black;
    font-size: 50px;
}
.container{
    padding: 10px;
    display: flex; justify-content: space-around
}
#a{
    width: 25%;
    height: 50%;
        position: fixed;
        bottom: 0;
        right: 0;
}
#b{
    width: 25%;
    height: 25%;
        position: fixed;
        bottom: 0;
        left: 0;
}